@model IEnumerable<AutoPartsStore.Models.Brand>
@{
    ViewData["Title"] = "Brand List";
}

<div class="card">
    <div class="card-header">
        <h5>Danh sách Brand</h5>
        <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
    </div>
    <div class="card-body">
        <table class="table">
        </table>
    </div>
</div>